.App {
  text-align: center;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jersey-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
  background-color: #a3a9da;

  width: 250px;
  height: auto;
  border-radius: 20px;
  color: white;
  padding: 20px;

}

.j-image{
  max-width: 100%;
  max-height: 250px;
}

.jersey-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 30px;
}

.store {
  display: flex;
  flex-direction: row;
}

.cart {
  width: 33%
}

.Container{
  width: 67%
}

.cartItem{
  border-radius: 20px;
  padding: 10px;
  background-color: #a3a9da;
  display: flex
}

.Filters {
  line-height: 200%;
}
