.App {
  text-align: center;
  background: url(./images/baseball.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jersey-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
  background-color: #ffffff;

  width: 250px;
  height: auto;
  border-radius: 20px;
  color: black;
  padding: 20px;
}

.head {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 90%
}

.j-image{
  max-width: 100%;
  max-height: 250px;
}

.jersey-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 30px;
}

.store {
  display: flex;
  flex-direction: row;
}

.cart {
  width: 33%
}

.Container{
  width: 67%
}

.cartItem{
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffff;
  display: flex
}

.Filters {
  line-height: 200%;

}
